.LoginScreen {
    margin-top: 2%;
    padding: 0;
    text-align: center;
    font-size: x-large;
  }
  
  input,button {
    margin-top: 1%;
    font-weight: 200;
    font-size: large;
  }
  
  .span-changeScreen {
    font-size: small;
  }